# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cmake-build-debug/
/CMakeLists.txt
/.pio/
/.idea/misc.xml
/.idea/MakerPlotter.iml
/.idea/vcs.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/workspace.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
